.panel {
    height: 100px;
    width: 100px;
    background-color: cornflowerblue;
    margin: 5px;
    transition: all 2s ease-in-out;
}

/* Tento selektor je více specifický, a proto bude mít vyšší prioritu */
.panel.circle {
    width: 100%;
    background-color: yellow;
}