* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 400vh;
    background: linear-gradient(0deg, yellow, green, blue, red);
}
.progress-container {
    width: 100vw;
    height: 20px;
    position: fixed;
    top: 0;
}
.progress {
    background-color: blue;
    width: 0;
    height: 100%;
}